
{{#if tree.in-multi-selection}}
    <span class="em-tree-node-multiselection">
    {{#if multi-selected}}
        <i {{action toggleSelection}} {{bind-attr class="tree.selected-icon"}}></i>
    {{else}}
        <i {{action toggleSelection}} {{bind-attr class="tree.unselected-icon"}}></i>
    {{/if}}
    </span>
{{/if}}

<span {{bind-attr class="nodeSelectedClasses :title"}}>

{{#if tree.hovered-actions}}
    <span class="actions">
    {{#each hoveredActions}}
        <i>{{em-tree-node-icon-action meta=this model=controller.model}}</i>
    {{/each}}
    </span>
{{/if}}
</span>
{{#link-to "content.pages.page" model}}{{model.title}}{{/link-to}}
<hr>

{{#if expanded}}
    {{em-tree-branch model=model tree=tree async=async targetObject=targetObject}}
{{/if}}